@model List<Manufacturer>

<div class="card shadow border-0 mt-5">
    <div class="card-header bg-primary bg-gradient ml-0 py-2">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-white py-2">Производители</h3>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <div class="row pb-4">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Manufacturer" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> &nbsp; Добавить нового производителя
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width: 10%;">Id</th>
                    <th style="width: 30%;">Название</th>
                    <th style="width: 30%;">Страна</th>
                    <th style="width: 30%;"></th>
                </tr>
            </thead>


            <tbody>
                @foreach (var item in Model.OrderBy(u => u.manufacturer_id))
                {
                    <tr>
                        <td style="width: 10%;">@item.manufacturer_id</td>
                        <td style="width: 30%;">@item.manufacturer_name</td>
                        <td style="width: 30%;">@item.country</td>
                        <td style="width: 30%;">
                            <div class="w-75 btn-group" role="group">

                                <a asp-controller="Manufacturer" asp-action="Upsert" asp-route-id="@item.manufacturer_id"
                                   class="btn btn-primary form-control mx-2"><i class="bi bi-pencil-fill"></i> &nbsp; Обновить</a>

                                <button class="delete-button btn btn-danger form-control" data-id="@item.manufacturer_id">
                                    <i class="bi bi-trash3"></i> &nbsp;Удалить
                                </button>

                            </div>
                        </td>
                    </tr>
                }
            </tbody>


        </table>
    </div>


</div>


@section Scripts{
    <script src="~/js/manufacturer_list1.js"></script>
}