@model ServiceSearch

<div class="card shadow border-0 mt-5">
    <div class="card-header bg-primary bg-gradient ml-0 py-2">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-white py-2">Услуги по ремонту</h3>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <div class="row pb-4">
            <div class="col-8">
                <form method="post">
                    <div class="container-fluid center-grid">

                        <div class="row mb-2">
                            <div class="col-4">
                                <label asp-for="objServiceForSearch.service_id_EoS" class="form-label ms-2">Id:</label>
                                <input asp-for="objServiceForSearch.service_id_EoS" autocomplete="off" class="form-control border-1 shadow" />
                            </div>
                            <div class="col-4">
                                <label asp-for="objServiceForSearch.name_EoS" class="form-label ms-2">Название:</label>
                                <input asp-for="objServiceForSearch.name_EoS" autocomplete="off" class="form-control border-1 shadow" />
                            </div>
                            <div class="col-4">
                                <label asp-for="objServiceForSearch.price_EoS" class="form-label ms-2">Цена:</label>
                                <input asp-for="objServiceForSearch.price_EoS" autocomplete="off" class="form-control border-1 shadow" />
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-10"></div>

                            <div class="col-2 text-end">
                                <button type="submit" class="btn btn btn-outline-info border-1 form-control">
                                    <strong><i class="bi bi-search"></i>&nbsp; Поиск</strong>
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="col-4 text-center mt-4">
                <a asp-controller="Service" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> &nbsp; Добавить новую услугу
                </a>
            </div>
        </div>


        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width: 10%;">Id</th>
                    <th style="width: 30%;">Название</th>
                    <th style="width: 30%;">Цена</th>
                    <th style="width: 30%;"></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.listOfService.OrderBy(u => u.service_id))
                {
                    <tr>
                        <td style="width: 10%;">@item.service_id</td>
                        <td style="width: 30%;">@item.description</td>
                        <td style="width: 30%;">@item.price</td>
                        <td style="width: 30%;">
                            <div class="w-75 btn-group" role="group">

                                <a asp-controller="Service" asp-action="Upsert" asp-route-id="@item.service_id"
                                   class="btn btn-primary form-control mx-2"><i class="bi bi-pencil-fill"></i> &nbsp; Обновить</a>

                                <button class="delete-button btn btn-danger form-control" data-id="@item.service_id">
                                    <i class="bi bi-trash3"></i> &nbsp;Удалить
                                </button>

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts{
    <script src="~/js/service.js"></script>
}