@model CpuSearch

<div class="card shadow border-0 mt-5">
    <div class="card-header bg-primary bg-gradient ml-0 py-2">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-white py-2">Процессоры</h3>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <div class="row pb-4">
            <div class="col-9">
                <form method="post">
                    <div class="container-fluid center-grid">

                        <div class="row mb-2">
                            <div class="col-4">
                                <label asp-for="objCpuForSearch.cpu_id_EoS" class="form-label ms-2">Id:</label>
                                <input asp-for="objCpuForSearch.cpu_id_EoS" autocomplete="off" class="form-control border-1 shadow" />
                            </div>
                            <div class="col-4">
                                <label asp-for="objCpuForSearch.model_EoS" class="form-label ms-2">Название:</label>
                                <input asp-for="objCpuForSearch.model_EoS" autocomplete="off" class="form-control border-1 shadow" />
                            </div>
                            <div class="col-4">
                                <label asp-for="objCpuForSearch.frequency_EoS" class="form-label ms-2">Частота:</label>
                                <input asp-for="objCpuForSearch.frequency_EoS" autocomplete="off" class="form-control border-1 shadow" />
                            </div>
                        </div>

                        <div class ="row">
                            <div class="col-4">
                                <label asp-for="objCpuForSearch.amount_cernels_EoS" class="form-label ms-2">Количество ядер:</label>
                                <input asp-for="objCpuForSearch.amount_cernels_EoS" autocomplete="off" class="form-control border-1 shadow" />
                            </div>

                            <div class="col-6"></div>

                            <div class="col-2 pt-4 text-end">
                                <button type="submit" class="btn btn btn-outline-info border-1 form-control">
                                    <strong><i class="bi bi-search"></i>&nbsp; Поиск</strong>
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

            <div class="col-3 text-center mt-4">
                <a asp-controller="Cpu" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> &nbsp; Добавить новый процессор
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width: 10%;">Id</th>
                    <th style="width: 20%;">Название</th>
                    <th style="width: 20%;">Количество ядер</th>
                    <th style="width: 20%;">Частота</th>
                    <th style="width: 30%;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.listOfCpu.OrderBy(u => u.cpu_id))
                {
                    <tr>
                        <td style="width: 10%;">@item.cpu_id</td>
                        <td style="width: 20%;">@item.model</td>
                        <td style="width: 20%;">@item.amount_cernels</td>
                        <td style="width: 20%;">@item.frequency</td>
                        <td style="width: 30%;">
                            <div class="w-75 btn-group" role="group">

                                <a asp-controller="Cpu" asp-action="Upsert" asp-route-cpu_id="@item.cpu_id" 
                                class="btn btn-primary form-control mx-2"><i class="bi bi-pencil-fill"></i> &nbsp; Обновить</a>

                                <button class="delete-button btn btn-danger form-control" data-id="@item.cpu_id">
                                    <i class="bi bi-trash3"></i> &nbsp;Удалить</button>

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/cpu_list.js"></script>
}



